{
    "name": "{{ module_name }}",
    "version": "19.0.1.0",
    "summary": "",
    "category": "",
    "author": "",
    # "depends": ["mail"],
    "data": [
        "security/ir.model.access.csv",
        "views/{{ file_name }}",
        "views/menu.xml",
    ],
    "installable": True,
    "application": True,
    "auto_install": False,
}
