<record id="{{ xml_id }}" model="ir.actions.act_window">
    <field name="name">{{ model|replace('_', ' ')|title }}</field>
    <field name="res_model">{{ model }}</field>
    <field name="view_mode">list,form</field>
</record>
